body{


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/4850037.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.card{

  width: 500px;
  padding: 20px;
  border:2px solid;
  border-color:#034D89;
  margin: auto; /* add this line */
  position: absolute; /* add this line */
  top: 50%; /* add this line */
  left: 50%; /* add this line */
  border-radius: 30px;
  transform: translate(-50%, -50%); /* add this line */
}



.account{

  font-weight: 500;
  font-size: 17px;
}

.contact{

  font-size: 13px;
}

.form-control{
  text-indent: 14px;

}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #034D89;
  outline: 0;
  box-shadow: none;
}

.inputbox{

  margin-bottom: 10px;
  position: relative;
}

.inputbox i{

  position: absolute;
  left: 8px;
  top: 12px;
  color: #dadada;
}


.form-check-label{

  font-size: 13px;
}

.form-check-input {
  width: 14px;
  height: 15px;
  margin-top: 5px;

}

.forgot {
  font-size: 14px;
  text-decoration: none;
  color: #034D89;
}

.mail{

  color: #4a148c;
  text-decoration: none;
}


.form-check{

  cursor: pointer;
}

.btn-primary {

  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #034D89;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  color: whitesmoke;
}
