
<!DOCTYPE html>
<html lang="en">

<body>
<section>
  <div class="card">

  <div class="form-box">
    <div class="form-value">
      <form #changepassform="ngForm" (ngSubmit)="changepass(changepassform)">
        <div class="text-center intro">
          <img src="assets/unnamed.png" width="100">
        </div>
        <div class="mt-4 text-center">
        <span>Changer votre mot de passe</span>
          <div class="mt-3 inputbox">
            <label> Mot de passe actuel</label>
            <input type="password"
                 ngModel
                 name="currentPassword"
                   id="password1" required>
        </div>
        </div>

          <div class="mt-4 text-center">
            <div class="mt-3 inputbox">
              <label> Nouveau mot de passe</label>

              <input type="password"
                 ngModel
                 name="newPassword"

                 id="password2" required>
    </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Confirmer</button>
        <div class="forget">

          <a routerLink="/mdpoublie">Oubliez votre mot de passe actuel</a>

        </div>


      </form>
    </div>
  </div>
  </div>

</section>

</body>
</html>


