<!-- create-dispute.component.html -->

<div class="dispute-form">
  <div class="container mt-4" >
    <a href="javascript:history.back()" class="text-muted" style="margin-top:-10px;"><i class="fas fa-arrow-left"></i> Return</a>
  </div>
  <app-sidebar></app-sidebar>
  <h3>Create a Dispute</h3>

  <!-- Reason for the dispute -->
  <label for="raison">Reason for Dispute</label>
  <textarea id="raison" [(ngModel)]="reason" name="raison" required placeholder="Enter the reason for the dispute"></textarea>

  <!-- Details of the dispute -->
  <label for="detailsresolution">Details</label>
  <textarea id="detailsresolution" [(ngModel)]="detailsResolution" name="detailsresolution" required placeholder="Enter the details of the dispute"></textarea>

  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="spinner">
    <i class="fa fa-spinner fa-spin"></i> Creating dispute...
  </div>

  <!-- Submit button -->
  <button (click)="createDispute()" [disabled]="isLoading">Create Dispute</button>

  <!-- Error message -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
