<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <h1>Client Dashboard</h1>

  <!-- User Greeting -->
  <div class="welcome-section">
    <h2>Welcome, {{ user?.nom }} {{ user?.prenom }}</h2>
  </div>

  <!-- Total Budget Section -->
  <div class="total-budget-card">
    <h3>Total Budget</h3>
    <div class="budget-amount">{{ totalBudget | currency: 'DT' }}</div>
  </div>


      <!-- Chart Section -->
      <div class="chart-section">
        <h4>Offers by Status</h4>
        <canvas id="OffersByStatusChart"></canvas>
      </div>
    </div>

