/* General Layout */
.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f9;
}

app-sidebar {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* Offer Details Container */
#offer-details-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ffffff, #f8f9fa);
  border: 2px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#details-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #034D89;
}

#details-description {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

/* Details Table */
#details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#details-table th,
#details-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

#details-table th {
  text-align: left;
}

#details-table td {
  background-color: #f8f9fa;
  color: #333;
}

/* Action Buttons */
#action-buttons {
  text-align: center;
  margin-top: 20px;
}

#accept-button,
#decline-button,
#done,
#save-button,
#return-button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease-in-out;
}

#accept-button {
  background-color: #28a745;
  color: white;
}

#accept-button:hover {
  background-color: #218838;
}

#decline-button {
  background-color: #dc3545;
  color: white;
}

#decline-button:hover {
  background-color: #c82333;
}
#done{
  background-color: #2870cd;
  color: white;
}
#done:hover{
  background-color: #4696e8;
  color: white;
}
#save-button{
  background-color: #1b7754;
  color: white;
}
#save-button:hover{
  background-color: #2e932a;
  color: white;
}
#return-button{
  background-color: #2870cd;
  color: white;
}
#return-button:hover{
  background-color: #3c81c6;
  color: white;
}

/* Error Message */
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
