.col-md-12 {
  flex: 0 0 auto;
  width: 70%;
  margin-left:300px;
  margin-top:-30px;}

.container{
  border:2px;
  margin-top:70px;
margin-left:105px;
}

th {
  border-style: solid;
  border-width: 0;
}
button{
  margin-left:1000px;
  width:20%;
  margin-top:-75px;
}
h3 {
  margin-left:130px;
  margin-top:-30px;
}
