<!DOCTYPE html>
<html lang="en">
<body>
<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh; flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <!-- Background elements here -->
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a href="http://blog.stackfindover.com/" rel="dofollow">CreatorHub</a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Choose your new password</span>
              <div class="field padding-bottom--24">
                <label>New Password</label>
                <input
                  type="password"
                  name="newpassword"
                  id="password2"
                  ngModel
                  placeholder="Enter your new password"
                  autocomplete="off"
                  required
                  class="form-control"
                />
              </div>
              <div class="field padding-bottom--24">
                <label>Confirm your new password</label>
                <input
                  type="password"
                  name="confirmpassword"
                  id="password1"
                  ngModel
                  placeholder="Confirm your new password"
                  autocomplete="off"
                  required
                  class="form-control"
                />
              </div>
              <div class="field padding-bottom--24">
                <button type="submit" class="btn btn-primary btn-block">Confirm</button>
              </div>
              <div class="reset-pass">
                <a routerLink="/login">Return</a>
              </div>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <span>Don't have an account?  <a href="/register">Sign in</a></span>
          <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
            <span><a href="#">© 2024 CreatorHub</a></span>
            <span><a href="#">Contact</a></span>
            <span><a href="#">Privacy & Terms</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>










