<div *ngIf="user3; else loading">
  <div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
      <div class="row">
        <div class="col-md-4">
          <img
            *ngIf="imageUrl"
            [src]="imageUrl"
            alt=""
            class="img-circle img-thumbnail isTooltip"
            style="width:600px;"
          />
        </div>
        <div class="col-md-6">
          <h3>Details Information</h3>
          <hr />
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td><strong>Nom et Prénom</strong></td>
              <td>{{ user3.nom }} {{ user3.prenom }}</td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td>{{ user3.email }}</td>
            </tr>
            <tr>
              <td><strong>Role</strong></td>
              <td>{{ user3.role }}</td>
            </tr>
            <tr *ngIf="user3.role === 'CLIENT'">
              <td><strong>Nom Entreprise</strong></td>
              <td>{{ user3.nomEntreprise }}</td>
            </tr>
            <tr *ngIf="user3.role === 'CLIENT'">
              <td><strong>Site Web Entreprise</strong></td>
              <td>{{ user3.siteWebEntreprise }}</td>
            </tr>
            <tr *ngIf="user3.role === 'CREATOR'">
              <td><strong>Lien Instagram</strong></td>
              <td>{{ user3.lienInsta }}</td>
            </tr>
            <tr *ngIf="user3.role === 'CREATOR'">
              <td><strong>Lien TikTok</strong></td>
              <td>{{ user3.lienTikTok }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading user details...</p>
</ng-template>
