
<div class="container bootstrap snippets bootdey">
  <div class="panel-body inf-content">
    <div class="row">
      <div class="col-md-4">
        <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" [src]="imageUrl"data-original-title="Usuario">

      </div>
      <div class="col-md-6">
        <a style="font-size:25px;"><strong> Details informations</strong><br></a>
        <hr>
        <div class="table-responsive">
          <table class="table table-user-information">
            <tbody>

            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-user  text-primary"></span>
                  Nom Et Prénom
                </strong>
              </td>
              <td style="color: #336699;">{{user3.nom}} {{user3.prenom}}</td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-bookmark text-primary"></span>
                  Email
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.email}}

              </td>
            </tr>

            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-eye-open text-primary"></span>
                  Role
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.role}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-cloud text-primary"></span>
                  Date Naissance
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.dateNaissance}}

              </td>
            </tr>



            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-envelope text-primary"></span>
                  Sexe
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.sexe}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Adresse
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.adresse}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Téléphone
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.numtel}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                  Numéro cin
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.ncin}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Numéro Passport
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.npassport}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Position
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.position}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Service
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.service}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Date Recrutement
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.dateRecrutement}}

              </td>
            </tr>

            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Situation Familiale
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.situationFam}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Nombre D'enfants
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.nbEnfant}}

              </td>
            </tr>

            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  CNSS
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.cnss}}

              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  RIB
                </strong>
              </td>
              <td style="color: #336699;">
                {{user3.rib}}

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
