.inf-content{
  border:1px solid #DDDDDD;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  width:850px;
margin-left:270px;
  margin-top:20px;

  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
